<!DOCTYPE html>

<html>
   <head>
      <title> Cal Poly SWM </title>
      <!-- Pure CSS -->
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
      <!-- JQuery -->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <!-- My Styles -->
      <link rel="stylesheet" href="/static/styles/style.css">
      <!-- My Scripts -->
      <script src="/static/scripts/script.js"></script>
   </head>
   <body>	
      <header class="small-padding">
         <h1 class="text-center" id="title"> Cal Poly SWM </h1>
      </header>
      <div id="content" class="max-height">
         <div class="pure-g">
            <div id="search-div" class="pure-u-1-5">
               <div>
                  <div class="pure-form pure-form-stacked text-center padding">
                   <fieldset>
                       <legend> <h2> Search </h2> </legend>
                       <label for="class-select"> Class </label>
                       <select id="class-select" class="max-width">
                          <option value="0"> Not Selected </option>
                          <option value="141"> Math 141 </option>
                          <option value="142"> Math 142 </option>
                          <option value="143"> Math 143 </option>
                       </select>
                       <label for="topic-select"> Topic </label>
                       <select id="topic-select" class="max-width">
                          <option value="0"> Not Selected </option>
                       </select>
                       <br>
                       <button id="search-button" class="pure-button pure-button-primary"> Search </button>
                   </fieldset>
                  </div>
                  <div id="result-div" class="text-center">
                  </div>
               </div>
            </div>
            <div id="display-div" class="pure-u-3-5">
               <div class="small-padding border max-height margin">
                  <div id="worksheet-header" class="border">
                     <h1 id="worksheet-title" class="text-center"> Worksheet </h1>
                     <h3 id="worksheet-author" class="text-center"> SWM Cal Poly </h3>
                  </div>
                  <div id="worksheet-content" class="border">
                  </div>
               </div>
            </div>
            <div id="tools-div" class="pure-u-1-5">
               <div>
                  <div class="pure-form pure-form-stacked text-center">
                   <fieldset>
                       <legend> <h2> Tools </h2> </legend>
                   </fieldset>
                  </div>
               </div>
            </div>
         </div>
      </div> 
   </body>
</html>
