header {
   color: white;
   background: green;
}
#title {
   font-size: 250%;
   text-shadow: 2px 2px black;
}
.large-font {
   font-size: 125%;
}
.center {
   margin: auto;
}
.text-center {
   text-align: center;
}
.max-height {
   min-height: 1000px;
}
.max-width {
   width: 100%;
}
.margin {
   margin: .5%;
}
.small-padding {
   padding: .5%;
}
.padding {
   padding: 2.5%;
}
.border {
   border: 1px solid black;
}
.button-success {
   color: white;
   background: rgb(28, 184, 65); /* this is a green */
}
