header {
   color: white;
   background: green;
}
#title {
   font-size: 2.5em;
   text-shadow: 2px 2px black;
}
.center {
   margin: auto;
}
.text-center {
   text-align: center;
}
.max-height {
   min-height: 1000px;
}
.max-width {
   width: 100%;
}
.hidden {
   display: none;
}
.margin {
   margin: .5%;
}
.small-padding {
   padding: .5%;
}
.padding {
   padding: 2.5%;
}
.border {
   border: 1px solid black;
}
.button-success,
.button-error,
.button-warning {
   color: white;
   border-radius: 4px;
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
   background: rgb(28, 184, 65); /* this is a green */
}
.button-warning {
   background: rgb(223, 117, 20); /* this is an orange */
}
.button-error {
   background: rgb(202, 60, 60); /* this is a maroon */
}
.click-me:hover {
   cursor: pointer;
}
textarea {
   width: 30%;
   min-height: 150px;
}
